.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo .app-logo {
  width: 40px;
  height: 40px;
}

.app-nav {
  display: flex;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  padding-bottom: 5px;
  position: relative;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #4f46e5;
}

.nav-link.active {
  color: #4f46e5;
  font-weight: 600;
}

.nav-link.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #4f46e5;
}

.user-profile {
  color: #444;
  cursor: pointer;
}

.app-header-right {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.user-profile {
  position: relative;
}

.user-profile .user-data {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.user-profile-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 8px;
  z-index: 20;
  width: 120px;
}

.user-profile-dropdown .profile-link {
  background: none;
  border: none;
  padding: 8px 12px;
  text-align: left;
  cursor: pointer;
  font-size: 1rem;
  color: #333;
  text-decoration: none;
}

.user-profile:hover .user-profile-dropdown {
  display: flex;
  flex-direction: column;
}

.nav-link {
  background: none;
  border: none;
  padding: 8px 12px;
  text-align: left;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
}

.nav-link:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.app-header .burger,
.mobile-app-nav {
  display: none;
}

@media (max-width: 768px) {
  .app-header {
    align-items: center;
    padding: 1rem 1rem;
  }

  .logo {
    font-size: 1rem;
  }

  .logo .app-logo {
    width: 30px;
    height: 30px;
  }

  .app-nav,
  .user-profile:hover .user-profile-dropdown {
    display: none;
  }

  .user-profile {
    width: 100%;
    justify-content: space-between;
  }

  .user-data {
    flex: 1;
  }

  .app-header .burger {
    display: block;
    cursor: pointer;
  }

  .mobile-app-nav {
    position: fixed;
    top: 0;
    left: -70%;
    width: 50%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 100;
  }

  .mobile-app-nav.active {
    left: 0;
  }

  .mobile-app-nav .nav-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
  }

  .mobile-app-nav .close-icon {
    align-self: flex-end;
    cursor: pointer;
  }

  .logout-button {
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    font-weight: 500;
    text-align: left;
    padding: 0;
  }
}